asttokens==2.4.1
azure-ai-formrecognizer==3.3.3
azure-common==1.1.28
azure-core==1.30.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
executing==2.0.1
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.1
httplib2==0.22.0
idna==3.7
isodate==0.6.1
littleutils==0.2.2
msrest==0.7.1
oauthlib==3.2.2
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
sorcery==0.2.2
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.1
wrapt==1.16.0
